<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <div class="navbar flex between">
      <div class="flex gap">
        <a href="/">Computer Netwrorks!</a>
      </div>
      <div class="flex gap">
        <a href="/">Subnet Table</a>
        <a href="/packet">Packet Analysis</a>
      </div>
    </div>
  </body>
</html>
