<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/globals.css" />
  </head>
  <body class="flex center flex-col">
    <%- include('navbar') %>
    <div id="main-body">
      <form id="packet-header-input-form">
        <div class="flex flex-col">
          <label class="label" for="header">Header</label>
          <input
            id="header-input"
            type="text"
            class="input"
            placeholder="IP address"
            spellcheck="false"
            name="header"
          />
        </div>

        <button type="submit" class="button">Submit</button>
      </form>
    </div>
    <script type="module" src="/lib/home.js"></script>
    <script type="module" src="/lib/booleanAlgebra.js"></script>
    <script type="module" src="/lib/packet.js"></script>
    <script type="module" src="/lib/validateIp.js"></script>
  </body>
</html>
